<div ng-controller="LoginCtrl">
  <div class="row">
    <div class="six columns offset-by-three">
      <form role="form" action="/auth/ldapauth" method="post">
        <label for="username">Zure erabiltzailea</label>
        <input class="u-full-width" placeholder="erabiltzailea" name="username" id="username" type="text">

       	<label for="password">Zure pasahitza</label>
        <input class="u-full-width" placeholder="password" name="password" id="password" type="password">
              
        <input class="button-primary u-full-width" value="Login" type="submit">
      </form>
    </div>
  </div>
</div>