<h1>Hooks</h1>

<form ng-submit="createHook()">
  <input type="text" ng-model="newHook.title" placeholder="Title">
  <input type="text" ng-model="newHook.description" placeholder="Description">
  <select ng-model="newHook.flow" ng-options="flow.id as flow.title for flow in flows">
    <option value="">-- select flow --</option>
  </select>
  <input type="submit" class="button">
</form>

<hr>
<ul>
  <li ng-repeat="hook in hooks">
    <b>{{hook.title}}</b>  <small>FLOW: {{hook.flow.title}}</small> <code>/api/hook/{{hook.id}}</code>  <span style="color:red;" ng-click="deleteHook(hook);">delete</span>
  </li>
</ul>
