<header class="header">
  <div class="container is-fluid">
    <!-- Left side -->
    <div class="header-left">
      <a class="header-item" href="#">
        <strong style="color:#61c35f;">FLOWr GARDENER</strong>
      </a>
			<a class="header-tab" ui-sref="flows">
        <i class="fa fa-sitemap" style="vertical-align: baseline;"></i>
        Flows
      </a>
			<a class="header-tab" ui-sref="hooks">
        <i class="fa fa-wrench" style="vertical-align: baseline;"></i>
        Hooks
      </a>
			<a class="header-tab" ui-sref="about">About</a>
    </div>

    <!-- Hamburger menu (on mobile) -->
    <span class="header-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <!-- Right side -->
    <div class="header-right header-menu">
      <span class="header-item">
        <a class="button is-info is-outlined" target="_blank" href="http://localhost:1336">
          <span class="icon"><i class="fa fa-tachometer"></i></span>
          <span>Queue</span>
        </a>
      </span>
    </div>
  </div>
</header>
