<div class="columns">

  <div class="column is-2">
    <h1 class="title is-5">
      <i class="fa fa-cogs" ></i>
      microservices
    </h1>
    <aside ng-repeat="(key,service) in services">
      <p class="menu-label">
        {{service.serviceId}}
      </p>
      <ul class="menu-list">
        <li ng-repeat="(name, method) in service.methods">
          <a ng-click="addBlock(service.serviceId, method)">
            {{service.serviceId}}:{{method.method}}
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <div class="column is-10">
    <div class="tabs is-boxed">
      <ul>
        <li ng-repeat="flow in flows" ng-class="{'is-active':activeFlow===flow.id}" >
          <a ng-click="activateFlow(flow.id)">
            <small>{{flow.title}}</small>
          </a>
        </li>
      </ul>
    </div>

    <div ng-repeat="flow in flows" ng-show="activeFlow===flow.id">
      <div class="columns">
        <div class="column is-4">
          <div style="overflow-y:scroll;height:400px;background-color:#eee;border:1px solid rgba(0,0,0,.1);inset 1px 1px 1px rgba(255, 255, 255, 0.8);padding:10px;">
              <div class="card is-fullwidth"
              ng-repeat="block in flow.blocks"
              style="margin-bottom:10px;">
                <header class="card-header">
                  <a class="card-header-icon"
                  style="width: auto;padding-left: 10px;">
                    <span class="tag">
                      {{block.service}}:{{block.method}}
                    </span>
                  </a>
                  <p class="card-header-title">
                    {{block.title}}
                  </p>
                  <a class="card-header-icon" ng-click="removeBlock($index)">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </header>
                <div class="card-content" style="padding:10px;">
                  <div class="content">
                    <div ng-repeat="(key, param) in block.info.params" style="margin-bottom:3px;background:#fff;border-radius:3px;border:1px solid #ccc; padding:5px;">
                      <strong style="display:block;"><small style="color:green" ng-if="block.input[key]">IN</small>  {{key}} <small style="color:#666;">({{param.type}})</small></strong>
                    </div>
                  </div>
                </div>
                <footer class="card-footer">
                  <a class="card-footer-item" ng-click="editBlock($index)">EDIT</a>
                  <a class="card-footer-item" ng-if="$index>0" ng-click="up($index)"><i class="fa fa-angle-up"></i></a>
                  <a class="card-footer-item" ng-if="!$last" ng-click="down($index)"><i class="fa fa-angle-down"></i></a>
                </footer>
              </div>
          </div>
        </div>

        <div class="column is-8">
          <div class="columns">
            <div class="column is-12">
              <div class="control is-horizontal">
                <div class="control is-grouped">
                  <a class="button is-primary" ng-click="saveFlow()">
                    <span class="icon">
                      <i class="fa fa-floppy-o"></i>
                    </span>
                    <span>SAVE FLOW</span>
                  </a>
                  <input class="input"
                  type="text"
                  ng-model="flow.title"
                  placeholder="Title">
                  <input class="input"
                  type="text"
                  ng-model="flow.description"
                  placeholder="Description">
                </div>
              </div>
            </div>
          </div>

          <div style="background-color:#eee;padding:10px;">
            <p class="control">
              <input ng-if="editorData[activeFlow]"
              type="text"
              class="input"
              ng-model="editorData[activeFlow].title"
              placeholder="Block Title">
            </p>

            <div class="columns" ng-repeat="(key,param) in editorData[activeFlow].info.params" style="border-bottom: 1px solid #ccc;margin-bottom:3px;">
              <div class="column is-3">
                <p class="control">
                  <label class="checkbox">
                    <input type="checkbox" ng-model="editorData[activeFlow].input[key]">
                    <strong>{{key}}</strong>
                  </label>
                </p>
                <small style="color:#666;">{{param.description}}</small>
              </div>
              <div class="column is-9" ng-hide="editorData[activeFlow].input[key]">
                <textarea ui-ace="{mode:'javascript'}" ng-if="param.type!='config'&&param.type!='jobs'" ng-model="editorData[activeFlow].params[key]"></textarea>

                <div ng-if="param.type=='config'" ng-repeat="(k,p) in editorData[activeFlow].params[key] track by $index">
                    <label>{{k}}</label>
                    <input class="input" type="text" ng-model="editorData[activeFlow].params[key][k]">
                </div>
                <div ng-if="param.type=='jobs'">
                  <!-- <span>Flow: <strong>{{editorData[activeFlow].params[key]}}</strong></span> -->
                  <ol>
                    <li ng-repeat="flowId in editorData[activeFlow].params[key]">
                      {{getFlowTitle(flowId)}} <small ng-click="loadFlowFromId(flowId)">edit</small>  <small ng-click="dettachFlow($index)">detach</small>
                    </li>
                  </ol>
                  <p class="control is-grouped">
                    <a class="button" ng-click="attachNewFlow(flow.id)">CREATE FLOW</a>
                    <a class="button" ng-click="showSavedFlowsModal(flow.id)">LOAD FLOW</a>
                  </p>
                </div>
              </div>
              <div class="column is-8" ng-show="editorData[activeFlow].input[key]">
                <input class="input" type="number"
                ng-model="editorData[activeFlow].inputOrder[key]"
                placeholder="Input order">
              </div>
            </div>

            <div class="columns" ng-show="editorData[activeFlow]">
              <div class="column is-12">
                <p class="control is-grouped">
                  <a class="button is-primary" ng-click="saveBlock()">
                    SAVE BLOCK
                  </a>
                  <a class="button" ng-click="cancelBlock()">
                    CANCEL
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>



<hr>

<div class="control is-horizontal">
  <div class="control is-grouped">
    <a class="button is-warning" ng-click="runActiveFlow()">
      <span class="icon">
        <i class="fa fa-bolt"></i>
      </span>
      <span>TEST FLOW</span>
    </a>
    <textarea class="input" ng-model="runFlow.json" name="json" placeholder="JSON"></textarea>
    <input class="input" type="text" ng-model="runFlow.string" placeholder="String" name="string"/>
  </div>
</div>

<style>
  .ace_editor { height: 200px; }
</style>

<div class="modal" ng-class="{'is-active':showModal}">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
      <div class="box">
      <h2>Select saved flow:</h2>
      <select class="u-full-width" ng-model="savedFlowToLoad" ng-options="flow as flow.title for flow in savedFlows">
        <option value="">-- select flow --</option>
      </select>
      <span class="button" ng-click="cancelSavedFlowsModal();">CANCEL</span>
      <span ng-if="savedFlowToLoad" class="button" ng-click="attachSavedFlowFromId(savedFlowToLoad.id)">LOAD</span>
    </div>
    </div>
  </div>
  <button class="modal-close" ng-click="cancelSavedFlowsModal();"></button>
</div>
