
<style type="text/css">
  
  .tab {
    border-width: 1px;
    border-style: solid solid none;
    border-color: #DDD #DDD -moz-use-text-color;
    padding: 5px;
    background-color: #ddd;
    margin-right:3px;
    font-weight: bold;
  }

  .tab.active {
    border-bottom: 1px solid #fff;
    background-color: #fff
  }

</style>

<div class="row">
    <div ng-repeat="(key,service) in services">
        <span class="button u-pull-left" style="margin-right:3px;" ng-click="addBlock(service.serviceId, method)" ng-repeat="(name, method) in service.methods">
          {{service.serviceId}}:{{method.method}}
        </span>
    </div>
</div>

<div class="row" style="border-bottom: 1px solid #ddd;margin-bottom: 5px;padding-bottom:2px;">
  <span class="tab {{activeFlow===flow.id?'active':''}}" ng-repeat="flow in flows" ng-click="activateFlow(flow.id)">
    <small>{{flow.title}}</small>
  </span>
</div>

<div  ng-repeat="flow in flows" ng-show="activeFlow===flow.id">
  
  <div class="row">
    <div class="two columns">
      <span class="button button-primary" ng-click="saveFlow()">SAVE</span>
    </div>
    <div class="three columns">
      <input type="text" class="u-full-width" placeholder="Flow title" ng-model="flow.title">
    </div>
    <div class="seven columns">
    <input type="text" class="u-full-width" placeholder="Flow description" ng-model="flow.description">
    </div>
  </div>

  <div class="row">
    <div class="five columns">
      <div class="u-full-width" style="overflow-y:scroll;height:400px;background-color:#eee;border:1px solid rgba(0,0,0,.1);inset 1px 1px 1px rgba(255, 255, 255, 0.8);padding:10px;">
          
          <div ng-repeat="block in flow.blocks" style="margin-bottom:5px;background:#fff;border-radius:3px;border:1px solid #ccc; padding:10px;">
            <strong style="display:block;"> <span ng-click="removeBlock($index)" style="color:red;cursor:pointer;">X</span> {{block.title}} <small class="u-pull-right" style="color:#666;">{{block.service}}:{{block.method}}</small></strong>
            
            <div ng-repeat="(key, param) in block.info.params" style="margin-bottom:3px;background:#fff;border-radius:3px;border:1px solid #ccc; padding:5px;">
              <strong style="display:block;"><small style="color:green" ng-if="block.input[key]">IN</small>  {{key}} <small style="color:#666;">({{param.type}})</small></strong>
            </div>          
            <span class="button button-primary u-full-width" ng-click="editBlock($index)">EDIT</span>
          </div>
      </div>
    </div>

    <div class="seven columns">
      <div class="u-full-width" style="background-color:#eee;padding:10px;">
        <h5>{{editorData[activeFlow].title}}</h5>
        <div class="row" ng-repeat="(key,param) in editorData[activeFlow].info.params" style="border-bottom: 1px solid #ccc;margin-bottom:3px;">
          <div class="four columns">
            <label>
                <input type="checkbox" ng-model="editorData[activeFlow].input[key]">
                <span class="label-body" style="font-weight:bold;">{{key}}</span>
            </label>
            <small style="color:#666;">{{param.description}}</small>
          </div>
          <div class="eight columns" ng-hide="editorData[activeFlow].input[key]">
            <textarea ui-ace="{mode:'javascript'}" ng-if="param.type!='config'&&param.type!='jobs'" ng-model="editorData[activeFlow].params[key]"></textarea>

            <div ng-if="param.type=='config'" ng-repeat="(k,p) in editorData[activeFlow].params[key]">
                <label>{{k}}</label>
                <input type="text" ng-model="editorData[activeFlow].params[key][k]">
            </div>
            <span ng-if="param.type=='jobs'">Flow: <strong>{{editorData[activeFlow].params[key]}}</strong></span>
            <span class="button" ng-if="param.type=='jobs'" ng-click="attachNewFlow(flow.id)">CREATE FLOW</span>
          </div>
          <div class="eight columns" ng-show="editorData[activeFlow].input[key]">
            <input type="number" ng-model="editorData[activeFlow].inputOrder[key]">
          </div>
        </div>
        <div class="row">
          <div class="six columns">
            <span ng-show="editorData[activeFlow]" ng-click="cancelBlock()" class="button u-full-width">CANCEL</span>        
          </div>
          <div class="six columns">
            <span ng-show="editorData[activeFlow]" ng-click="saveBlock()" class="button button-primary u-full-width">SAVE</span>
          </div>
        </div>
      </div>
    </div>

</div>
<form ng-submit="runActiveFlow()">
  <div class="row">  
      
      <div class="two columns">
        <input type="submit" class="button button-primary" value="RUN"/>
      </div>
      <div class="ten columns">
        <label>JSON</label>
        <textarea ng-model="runFlow.json" name="input"></textarea>
        <label>String</label>
        <input type="text" ng-model="runFlow.string" name="input"/>
      </div>

  </div>
</form>
<style>
  .ace_editor { height: 200px; }
</style>