<h1>Flows:</h1>
	<a class="button" ui-sref="edit({id:null})">NEW</a>
	<ul>
	  <li ng-repeat="flow in flows">
	    <b>{{flow.title}}</b> <span>{{flow.description}}</span> <a ui-sref="edit({id:flow.id})">edit</a> <a ng-click="deleteFlow(flow);">delete</a>

	  </li>
	</ul>
